@charset "UTF-8";

body{
    background-color: rgb(163, 236, 212);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:  rgb(1, 85, 57);
}
h1#principal{
    text-align: center;
    color: white;
    background-color: rgb(79, 155, 4);;
}

h2{
    color:rgb(7, 170, 34) ;
}

.basico{
    color: green;
    font-weight: bold;
}
.intermediario{
    color: yellow;

}
.avancado{
    color: red;
}
.destaque{
    background-color: rgb(138, 133, 66);
}